.footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--quaternaryColor);
}