<div>
    <label class="select__label" for="select-input">{{label}}</label>
    <div class="select">
        <input
            #selectInput
            id="select-input"
            class="select__input"
            placeholder="Enter dog breed..."
            (input)="filter(selectInput.value)"
            (focus)="changeListVisibility(true)"
            (focusout)="changeListVisibility(false)"
            type="text"
        />
        <button 
            class="select__button"
            (click)="changeListVisibility(!isListVisible)"
            (focusout)="changeListVisibility(false)"
        ><span [ngClass]="getArrowClass()">&darr;</span></button>

        <ul 
            class="select__list" 
            *ngIf="isListVisible" 
            (mouseover)="setListIsHovered(true)"
            (mouseout)="setListIsHovered(false)"
        >
            <li
                #listItem 
                class="list__item" 
                *ngFor="let dog of filteredDogs"
                (click)="handleItemClick(listItem.innerText)"
            >{{dog}}</li>

            <li class="list__empty" *ngIf="filteredDogs.length === 0">Sorry We havent found any breed.</li>
        </ul>
    </div>
</div>