.app {
    min-height: calc(100vh);
    position: relative;
}

.main {
    margin: 0 25px;
    margin-top: 100px;
}

.main__wrapper {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
}

.app__select {
    width: 50%;
}

.app__dog {
    width: 50%;
    margin-bottom: 100px;
}

@media only screen and (max-width: 600px) {
    .main__wrapper {
        flex-direction: column;
        align-items: center;
    }

    .app__select {
        margin-bottom: 90px;
    }

    .app__select {
        width: auto;
    }

    .app__dog {
        width: 100%;
    }
}