.dog {
    display: flex;
    flex-direction: column;
}

.dog__image {
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    max-width: 400px;
    min-width: 200px;
    border: 1.5px solid var(--grayColor);
    border-radius: 5px;
    margin: 25px 0;
    padding: 10px;
}

.dog__link {
    color: var(--secondaryColor);
    transition: color 0.2s linear;
}

.dog__link:hover {
    color: var(--tertiaryColor);
    transition: color 0.2s linear;
}