@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

:root {
    --primaryColor: rgb(234, 162, 80);
    --secondaryColor: rgb(3, 155, 230);
    --tertiaryColor: rgb(253, 96, 91);
}